__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
ENV/
env/
.venv/
/.pytest_cache
.mypy_cache/
.tox/
*.egg-info/
dist/
build/
/.vscode/
.DS_Store
coverage.xml
htmlcov/
pip-wheel-metadata/
__pycache__/
*.egg
*.log
